a {
  color: white;
  transform: translate(-50%, 50%);
  white-space: nowrap;
}

a:hover {
  color: green;
  cursor: pointer;
}

#a6 {
  transform: translate(-50%, 50%);
  padding: 0;
  pointer-events: none;
}

img {
  color: white;
  transform: scale(0.1, 0.1);
  white-space: nowrap;
}
